#include "TestRc.h"
#include <windows.h>

LANGUAGE LANG_THAI, SUBLANG_THAI_THAILAND
IDD_DIALOG1 DIALOGEX DISCARDABLE 0, 0, 250, 150
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER|DS_SHELLFONT|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_POPUP|WS_DLGFRAME
CAPTION "Test GWT"
BEGIN
  LTEXT "&Name:", -1, 10, 10, 80, 30
  EDITTEXT IDC_NAME, 100, 10, 80, 20, WS_TABSTOP
  PUSHBUTTON "&OK", IDOK, 20, 40, 80, 20, WS_TABSTOP
  PUSHBUTTON "&Cancel", IDCANCEL, 110, 40, 80, 20, WS_TABSTOP
END

